.Hero-Section{
    width: 100%;
    height: 90vh;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width:1900px) {
    .hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}

@media (max-width:750px) {
    .Hero-Section{
    width: 100%;
    height: 70vh;
    background-color: rgb(5, 5, 54);   
}
}
@media (max-width:500px) {
    .Hero-Section{
    width: 100%;
    height: 60vh;
    background-color: rgb(5, 5, 54);   
}
}
@media (max-width:300px) {
    .Hero-Section{
    width: 100%;
    height: 50vh;
    background-color: rgb(5, 5, 54);   
}
}

