.Tittle-section{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Products-list{
    width: auto;
    height: 100vh;
    margin: 1rem 5%;
    background-color: #fff;
    box-shadow: 3px 3px 23px 16px rgba(44, 128, 124, 0.34);
    display: flex;
    flex-direction: column;
}

.Item-toogle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
}

.Item-toogle button {
    outline: none;    
    border: none;
    background-color: rgb(241,229,202);
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.Item-toogle button:hover{
    color: blue;
}

.women-item{
    margin-left: 1rem;
}