.Header{
    width: 100%;
    height: auto;
    background-color: rgb(241,229,202);
    padding: 0 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.614);
    z-index: 10;
    position: sticky;
    top: 0;
    transition: .3s ease;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container p{
    font-family: cursive;
    font-weight: bolder;
    color: rgb(14, 78, 197);
    font-size: 1.7rem;
}

.logo{
    width: 5rem;
}

.cart-txt{
    margin-left: .5rem;
}

.cart-container{
    background-color: rgb(12, 82, 213);
    border-radius: 5rem;
    padding: .7rem 3rem;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    transition: .3s ease;
}

.cart-container:hover{
    background-color: rgb(9, 43, 107);
}

.cart-count{
    background-color: rgb(255,192,0);
    padding: .1rem .4rem;
    border-radius: .8rem;
    margin-left: 1rem;
    color: #000;
}



@media (max-width:750px) {
    .Header{
        padding: 0 1rem;
    }
    .logo{
    width: 6rem;
    height: 6rem;
    }
    .cart-container{
        padding: .5rem 1rem;
    }
    .cart-count{
        padding: 0 .2rem;
    }
}
@media (max-width:300px) {
    
    .logo{
    width: 4rem;
    height: 4rem;
    }
    .cart-container{
        padding: .3rem .5rem;
    }
    .cart-count{
        padding: 0 .1rem;
    }
}

